# App
app/public/build/
app/public/data/
app/public/tutorials/
app/public/playground/
app/public/playgrounds/
app/public/studio/
app/public/rosalind/
app/public/community/
.bak
# Cloudflare Worker Sites
dist/
worker/script.js
# General
node_modules/
.DS_Store
_trash/
# Biowasm copy for local development
app/public/biowasm/*
!app/public/biowasm/README.md
# sandbox.bio v2
.env
static/data/
